.container-right {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & form {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;

    & h2 {
      margin-bottom: 0px;
    }
    & p {
      margin-top: 5px;
    }
    & textarea {
      height: 25%;
      padding: 10px;
      resize: none;
      border: none;
      border-radius: 10px;
      background: aqua;
    }
    & input {
      margin-bottom: 12px;

      &[type="text"] {
        background: aqua;
        height: 5%;

        padding: 6px;
        border: none;
        border-radius: 5px;
      }

      &[type="submit"] {
        height: 8%;
        width: 15%;
        background: darkmagenta;
        margin-top: 8px;
        border-radius: 5px;
        color: white;
        font-size: 100%;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .container-right {
    & form {
      & textarea {
        font-size: 20px;
        border-radius: 12px;
      }
      & input {
        margin-bottom: 18px;
        &[type="text"] {
          font-size: 20px;
          border-radius: 12px;
        }

        &[type="submit"] {
          font-size: 20px;
          border-radius: 12px;
        }
      }

      & h2 {
        font-size: 50px;
      }
      & p {
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 1220px) {
  .container-right {
    & form {
      & textarea {
        font-size: 10px;
        padding: 7px;
      }
      & input {
        margin-bottom: 8px;
        &[type="text"] {
          font-size: 10px;
        }

        &[type="submit"] {
          font-size: 10px;
        }
      }

      & h2 {
        font-size: 20px;
      }
      & p {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .container-right {
    & form {
      & textarea {
        font-size: 7px;
        padding: 5px;
      }
      & input {
        margin-bottom: 6px;
        &[type="text"] {
          font-size: 8px;
        }

        &[type="submit"] {
          font-size: 8px;
        }
      }

      & h2 {
        font-size: 15px;
      }
      & p {
        font-size: 9px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .container-right {
    & form {
      & textarea {
        font-size: 7px;
        padding: 5px;
      }
      & input {
        margin-bottom: 6px;
        &[type="text"] {
          font-size: 8px;
        }

        &[type="submit"] {
          font-size: 8px;
          width: 50%;
        }
      }

      & h2 {
        font-size: 15px;
      }
      & p {
        font-size: 9px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .container-right {
    & form {
      & textarea {
        font-size: 4px;
        padding: 3px;
        border-radius: 4px;
      }
      & input {
        margin-bottom: 4px;
        &[type="text"] {
          font-size: 5px;
          border-radius: 3px;
        }

        &[type="submit"] {
          font-size: 3.5px;
          width: 45%;
        }
      }

      & h2 {
        font-size: 10px;
      }
      & p {
        font-size: 5px;
      }
    }
  }
}
